## (Q1). What is a database? Differentiate between SQL and NoSQL databases ?
### Ans :-
   #### Database -
   A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and      manipulation of information. Databases can be used to store data for various purposes, such as managing customer information, tracking      inventory, or processing transactions.
#### Differentiate between SQL and NoSQL databases -
  * Data structure:SQL databases store data in tables with predefined relationships, while NoSQL databases can store data in a variety of      formats.
  * Schema:
  SQL databases use a predefined schema to define the structure of the database, while NoSQL databases do not use a predefined schema.
  * Scalability: 
  NoSQL databases are designed to be more scalable than SQL databases.
  * Query language:
  SQL databases use SQL as their primary language for managing and querying data, while NoSQL databases use a variety of languages depending   on the type of database being used.

## (Q2). What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example ?
### Ans :-
  DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a   database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views. The following are       some of the commonly used DDL statements:
* CREATE:
 The CREATE statement is used to create a new database object, such as a table or view. For example, the following statement                   creates a table named "employees" with columns for employee ID, name, and department:
 #### * CREATE TABLE employees (id INT PRIMARY KEY,name VARCHAR(50),department VARCHAR(50));

 * DROP: 
   The DROP statement is used to delete a database object, such as a table or view. For example, the following statement drops the              "employees" table:
  ### * DROP TABLE employees;
  
   * ALTER:
   The ALTER statement is used to modify the structure of a database object, such as adding or removing a column from a table. For example,    the following statement adds a new column called "salary" to the "employees" table:
   ### * ALTER TABLE employees ADD COLUMN salary INT;
   
 * TRUNCATE:
  The TRUNCATE statement is used to delete all data from a table without deleting the table itself. For example, the following statement       deletes all data from the "employees" table:
   ### * TRUNCATE TABLE employees;

## (Q3). What is DML? Explain INSERT, UPDATE, and DELETE with an example.
 ### Ans :-
   DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database.      DML statements are used to insert, update, and delete data in a database. The following are some of the commonly used DML statements:
 * INSERT: 
  The INSERT statement is used to add new data to a database table. For example, the following statement adds a new row to the "employees"     table with values for the "id", "name", and "department" columns:
 ### * INSERT INTO employees (id, name, department) VALUES (1, 'John Smith', 'Sales');
 * UPDATE:
  The UPDATE statement is used to modify existing data in a database table. For example, the following statement updates the "department"      column for the row with an "id" of 1 in the "employees" table:
 ### * UPDATE employees SET department = 'Marketing' WHERE id = 1;
 * DELETE: 
  The DELETE statement is used to remove data from a database table. For example, the following statement removes the row with an "id" of 1    from the "employees" table:
### * DELETE FROM employees WHERE id = 1;

## (Q4). What is DQL? Explain SELECT with an example.

### Ans :-
   DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query and retrieve data from a database.    DQL statements are used to retrieve data from a database table based on various conditions. The most commonly used DQL statement is the      SELECT statement.
   
   ### * SELECT column1, column2, ... FROM table_name WHERE condition;

## (Q5). Explain Primary Key and Foreign Key.

### Ans:-
   * Primary Key
   A primary key is a unique identifier for a record in a database table. It is a column or a set of columns that uniquely identifies each      row in the table. A primary key constraint ensures that the value of the primary key column(s) is unique for each row in the table and      cannot be null. A table can have only one primary key. The primary key is used to identify records in the table and is often used as a      reference by other tables.
   
   
  * Foreign Key
   A foreign key is a column or a set of columns in one table that references the primary key column(s) of another table. It establishes a      relationship between two tables, where the foreign key column(s) in one table refers to the primary key column(s) of another table. The      foreign key constraint ensures that the values in the foreign key column(s) match the values in the referenced primary key column(s), or    are null. A table can have multiple foreign keys.

In [ ]:
## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Ans :-

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch the result
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

## (Q7). Give the order of execution of SQL clauses in an SQL query.
### Ans:-

 ### * FROM:
   The FROM clause specifies the table or tables from which to retrieve the data. It is the first clause to be executed.

  ### * WHERE: 
  The WHERE clause is used to filter the rows based on a specific condition. It is executed after the FROM clause.

  ### * GROUP BY: 
  The GROUP BY clause is used to group the rows based on a specific column or set of columns. It is executed after the WHERE                   clause.

   ### * HAVING:
   The HAVING clause is used to filter the groups based on a specific condition. It is executed after the GROUP BY clause.

   ### * SELECT:
   The SELECT clause is used to specify the columns to be retrieved from the table. It is executed after the FROM, WHERE, GROUP BY,            and HAVING clauses.

   ### * ORDER BY: 
   The ORDER BY clause is used to sort the result set based on one or more columns. It is executed after the SELECT clause.

   ### * LIMIT:
   The LIMIT clause is used to limit the number of rows returned by the query. It is executed after the ORDER BY clause